/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */


/ {
	chosen {
		nordic,pm-ext-flash = &mx25r64;
		ncs,zigbee-timer = &timer20;
	};
};

&timer20 {
	status = "okay";
};

&mx25r64 {
	status = "okay";
};
